@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@layer utilities{
  .flex-center {
    @apply flex items-center justify-center
  } 

  .title{
    @apply text-xl font-semibold mb-6 text-neutral-200
  }
}




@layer components{
  .width-exp {
    @apply bg-blue-500 h-10
  }

  .section-container{
    @apply container mx-auto px-4 md:px-8 py-4 md:py-6
  }

  .section-title{
    @apply text-center mb-12 sm:mb-16 font-bold text-2xl 
  }

  .card{
    @apply rounded-xl border p-6 shadow-sm hover:shadow-2xl transition-all duration-300  bg-neutral-700
  }

}

